*{
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  /* background-color: rgb(6, 90, 13); */
}

.fundo{
  background-color: rgb(6, 90, 13);
}

.secao-header{
  background: green;
  padding: 17px;
  color: #fff;
  letter-spacing: 3px;
  font-style: oblique;
  list-style-type: none;
}

.lista-direita{
  display: flex;
  list-style: none;
  float: right;
}

a{
  color: #fff;
  text-decoration: none;
  padding-left: 7px;
}

.secao-pagina{
  background-color: rgb(220, 236, 175);
  margin: 17px;
  border-radius: 5px;
  padding: 15px 15px;
}

.secao-pagina img{
  border-radius: 10px;
}

.titulo-conteudo{
  font-size: 25px;
}

img{
  width: 750px;
  height: 500px;
}

footer{
  text-align: center;
  color: white;
}
